<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap</title>
  <style>
    /* TODO 4: Use flexbox to center the card in the vertical and horizontal center. */
  </style>
</head>

<body>
  <div class="flex-container">
      <h1>Form to complete</h1>
    <form action="/login" method ="post">
      <label>Login</label>
      <input type="text" placeholder="name" id = "lname" name = "lname">
      <label>Password</label>
      <input type="password" placeholder="password" id ="fname" name ="fname">
      <button type="submit">Ok</button>
    </form>
  </div>
</body>

</html>